* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: white;
    box-sizing: border-box;
}
header {
    background: url("banner-bg.jpg") center / cover no-repeat;
    border-radius: 0 0 150px 150px;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
.logo {
    width: 150px;
    height: 60px;
}
.buttons {
    display: flex;
    gap: 15px;
}
button {
    border-radius: 25px;
    background-color: transparent;
    width: 150px;
    height: 50px;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}
button:hover {
    background-color: #cdcdcd20;
}
.sign {
    background-color: rgb(255, 99, 135);
}
.sign:hover {
    background-color: rgb(0, 102, 255);
}
.bg {
    width: 100%;
    height: 700px;
    padding: 40px;
    margin-top: 10px;
}
.hero {
    display: flex;
    align-items: center;
    gap: 35px;
}
.hero-text {
    text-align: left;
}
.banner-wrap {
    position: relative;
    width: 350px;
    height: 450px;
    flex-shrink: 0;
}
.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    display: block;
}
.price {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 70px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(72, 115, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
    z-index: 5;
}
.offer {
    position: absolute;
    bottom: -15px;
    left: -15px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgb(255, 99, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
    z-index: 5;
}
.welcome {
    margin-bottom: 10px;
    font-weight: lighter;
    font-size: 25px;
}
.best {
    font-size: 40px;
    font-weight: 700;
}
.ever {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
}
.info {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 200;
}
.info_ {
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 200;
}
.search {
    display: flex;
    gap: 5px;
}
.typesomething {
    width: 270px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: rgb(35, 35, 35);
    text-align: center;
}
.searchbutton {
    background-color: rgb(255, 99, 135);
    border: none;
    border-radius: 30px;
    padding: 0 25px;
    cursor: pointer;
}
.searchbutton:hover {
    background-color: rgb(72, 115, 255);
}
.all {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

