* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: white;
    box-sizing: border-box;
}

header {
    background: url("banner-bg.jpg") center / cover no-repeat;
    border-radius: 0 0 150px 150px;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.logo {
    width: 150px;
    height: 60px;
}

.buttons {
    display: flex;
    gap: 15px;
}

button {
    border-radius: 25px;
    background-color: transparent;
    width: 150px;
    height: 50px;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

button:hover {
    background-color: #cdcdcd20;
}

.sign {
    background-color: rgb(255, 99, 135);
}

.sign:hover {
    background-color: rgb(0, 102, 255);
}

.bg {
    width: 100%;
    height: 700px;
    padding: 40px;
    margin-top: 10px;
}

.hero {
    display: flex;
    align-items: center;
    gap: 35px;
}

.banner-wrap {
    position: relative;
    width: 350px;
    height: 450px;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.price {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 70px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(72, 115, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
}

.offer {
    position: absolute;
    bottom: -15px;
    left: -15px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgb(255, 99, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
}

.search {
    display: flex;
    gap: 5px;
}

.typesomething {
    width: 270px;
    height: 50px;
    border-radius: 30px;
    border: none;
    color: black;
    text-align: center;
}

.searchbutton {
    background-color: rgb(255, 99, 135);
    border-radius: 30px;
    padding: 0 25px;
}

.chart-wrapper {
    width: 100%;
    padding: 60px 0;
    background: linear-gradient(180deg, #0a58ca, #073b8a);
}

#rps_chart {
    width: 1000px;
    max-width: 95%;
    height: 400px;
    margin: 0 auto;
}
